{
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": false,
	"semi": true,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"pluginSearchDirs": ["."],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
